@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

#content1-20 P {
  font-family: 'Lora', serif;
  font-size: 14px;
}




#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #494442;
}
#menu-0 .mbr-navbar__section {
  background: #494442;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Lora', serif;
  font-size: 20px;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Lora', serif;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-2 P {
  font-family: 'Lora', serif;
  color: #cccccc;
  font-size: 9px;
}
#header1-28 P {
  font-family: 'Lora', serif;
  font-size: 14px;
  text-align: left;
  color: #efefef;
}



#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #494442;
}
#menu-9 .mbr-navbar__section {
  background: #494442;
}
#menu-9 .mbr-brand__name a {
  font-family: 'Lora', serif;
  font-size: 20px;
}
#menu-9 .mbr-navbar__items a {
  font-family: 'Lora', serif;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-10 P {
  font-family: 'Lora', serif;
  color: #cccccc;
  font-size: 9px;
}





#content1-21 P {
  font-family: 'Lora', serif;
  font-size: 14px;
}
#content1-21 DIV {
  font-family: 'Lora', serif;
  font-size: 13px;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #494442;
}
#menu-18 .mbr-navbar__section {
  background: #494442;
}
#menu-18 .mbr-brand__name a {
  font-family: 'Lora', serif;
  font-size: 20px;
}
#menu-18 .mbr-navbar__items a {
  font-family: 'Lora', serif;
}
#menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-19 P {
  font-family: 'Lora', serif;
  color: #cccccc;
  font-size: 9px;
}



#menu-34 .mbr-brand__name {
  font-size: 16px;
}
#menu-34.mbr-navbar--stuck .mbr-navbar__section {
  background: #494442;
}
#menu-34 .mbr-navbar__section {
  background: #494442;
}
#menu-34 .mbr-brand__name a {
  font-family: 'Lora', serif;
  font-size: 20px;
}
#menu-34 .mbr-navbar__items a {
  font-family: 'Lora', serif;
}
#menu-34 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-35 P {
  font-family: 'Lora', serif;
  color: #cccccc;
  font-size: 9px;
}




#menu-42 .mbr-brand__name {
  font-size: 16px;
}
#menu-42.mbr-navbar--stuck .mbr-navbar__section {
  background: #494442;
}
#menu-42 .mbr-navbar__section {
  background: #494442;
}
#menu-42 .mbr-brand__name a {
  font-family: 'Lora', serif;
  font-size: 20px;
}
#menu-42 .mbr-navbar__items a {
  font-family: 'Lora', serif;
}
#menu-42 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-43 P {
  font-family: 'Lora', serif;
  color: #cccccc;
  font-size: 9px;
}
#content1-48 DIV {
  font-family: 'Lora', serif;
  font-size: 16px;
}
#content1-48 P {
  font-size: 14px;
}
